*.o
*.out
gork
testing/relaytest
gork.conf
project.md
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
configure~
depcomp
install-sh
missing
.deps/
.dirstamp
gork-*.tar.gz
